.technologies {
  padding-bottom: 62px;
  &-box {
    text-align: center;
    &__item {
      display: flex;
      align-items: center;
      padding-top: 23px;
      flex-direction: column;
      &-wrap {
        max-width: 88px;
        height: auto;
        &-img {
          width: 100%;
        }
      }
      &-headline {
        margin-top: 12px;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and(min-width: 576px){
  .technologies {
    padding-bottom: 106px;
    &-wrap {
      justify-content: center;
    }
    &-box {
      &__item {
        flex-direction: row;
        align-items: normal;
        padding: 32px 0 16px;
        &-wrap {
          width: 100%;
          margin: 0 38px 0 6px;
        }
        &-headline {
          margin-top: 0;
        }
        &-description {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 769px){
  .technologies {
    padding: 15px 0 120px;
    &-wrap {
      //padding: 0 30px;
    }
    &-box {
      &__item {
        flex-direction: column;
        &-wrap {
          margin: 0;
          max-width: 100px;
        }
        &-description {
          padding-top: 25px;
        }
        &-headline {
          letter-spacing: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .technologies {
    &-wrap {
      padding: 0 30px;
    }
  }
}

@media screen and (min-width: 1170px) {
  .technologies {
    padding: 0 0 122px;
    &-wrap {
      padding: 0;
    }
  }
}