@import "./../variables";

//HEADER STYLES

.header {
  min-height: 64px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: $whiteColor;
  z-index: 5;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 134px;
  width: 100%;
  margin: 0;
  &__abz {
    display: block;
  }
}

//Mobile menu

.main-menu {
  position: absolute;
  width: 250px;
  height: 100vh;
  background: $whiteColor;
  margin: 0;
  left: 0;
  padding: 10px 0 0 0;
  z-index: 5;
  &-btn {
    background: none;
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 15px;
  &__item {
    display: block;
    color: #444444;
    margin-bottom: 20px;
    font-family: $sourceSansPro-Regular;
    transition: .2s;
    width: max-content;
    &:hover {
      color: $primaryColor;
      text-decoration: none;
    }
    &:focus {
      color: $secondaryColor;
    }
  }
}

.sign-out-btn, .menu-hidden {
  display: none;
}

.authorized-user {
  padding: 0 0 23px 15px;
  border-bottom: 1px solid #e1e1e1;
}

.user {
  &-photo {
    width: 67px;
    border-radius: 50px;
    &__avatar {
      width: 100%;
      border-radius: inherit;
    }
  }
  &-name {
    margin: 12px 0 3px;
    font-size: 19px;
    font-family: $sourceSansPro-Bold;
  }
  &-email {
    font-family: $sourceSansPro-Regular;
    color: #8d8c8c;
    font-size: 11px;
    letter-spacing: 1px;
  }
}

//Tablet menu

@media screen and (min-width: 321px) {
  .header-wrap {
    padding: 0 24px !important;
  }
}

//Desktop menu

@media screen and (min-width: 1024px){

  .header {
    padding: 0 20px;
    &-wrap {
      display: flex;
      align-items: center;
    }
  }

  .logo {
    max-width: 200px;
    a {
      max-width: 136px;
    }
  }

  .main-menu {
    position: static;
    padding: 0;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    &-btn {
      display: none;
    }
  }

  .navigation {
    flex-direction: row;
    padding: 0;
    max-width: 455px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    &__item {
      margin: 0;
      &:last-child {
        display: none;
      }
    }
  }

  .sign-out-btn {
    display: block;
    order: 1;
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .menu-hidden {
    display: flex;
  }

  .authorized-user {
    order: 1;
    display: flex;
    border-bottom: none;
    padding: 0;
  }

  .user {
    &-photo {
      order: 1;
      width: 39px;
      margin-right: 8px;
    }
    &-data {
      margin-right: 14px;
      p {
        margin: 0;
      }
    }
    &-name {
      font-family: $sourceSansPro-Regular;
      font-size: 14px;
      text-align: right;
    }
    &-email {
      letter-spacing: .5px;
    }
  }
}

//Desktop++ menu

@media screen and (min-width: 1170px){
  .header-wrap {
    padding: 0 15px !important;
  }
  .logo {
    max-width: 310px;
  }
}

