$sourceSansPro-Bold: SourceSansPro-Bold, sans-serif;
$sourceSansPro-Regular: SourceSansPro-Regular, sans-serif;
$overpass-SemiBold: Overpass-SemiBold, sans-serif;

$primaryColor: #ef6c00;
$secondaryColor: #283593;
$whiteColor: #fff;
