@import "./../common-styles";

.acquainted {
  text-align: center;
  padding: 68px 0 62px;
  &__text {
    font-size: 16px;
    font-family: $sourceSansPro-Regular;
    color: #4c4b4b;
    line-height: 22px;
  }
  &__man {
    max-width: 219px;
    height: auto;
    margin: 18px auto 26px;
    background-size: cover;
    img {
      width: 100%;
    }
  }
  .second-paragraph {
    margin-top: 21px;
  }
}

@media screen and (min-width: 576px) {
  .acquainted {
    text-align: left;
    padding: 110px 0 134px;
    &__text {
      letter-spacing: .2px;
    }
    &-content {
      padding-top: 34px;
    }
    &__man {
      margin: 0;
      &-wrap {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .acquainted {
    padding: 137px 0 111px;
    &-content {
      padding-top: 17px;
      &-text {
        padding: 17px 0 0 9px;
      }
    }
    &__man {
      max-width: 100%;
      &-wrap {
        padding-right: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 1170px) {
  .acquainted {
    padding: 137px 0 82px;
    &-content {
      padding-top: 37px;
    }
    &__man {
      &-wrap {
        justify-content: center;
      }
    }
    &__sub-headline {
      margin-bottom: 0;
    }
  }
}