@import "../../variables";

.registration {
  padding-bottom: 70px;
}

.registration-title-wrap {
  padding-bottom: 15px;
}

.registration-form {
  padding-top: 5px;
  &__item {
    font-family: $sourceSansPro-Regular;
    position: relative;
    &-wrap {
      border: 1px solid #b7b7b7;
      padding: 3px 15px 16px;
      border-radius: 5px;
      margin-bottom: 27px;
    }
    &-name {
      margin: 0;
      font-size: 12px;
      color: #8d8c8c;
      padding: 0 3px;
      width: auto;
    }
    &-field {
      border: none;
      width: 100%;
      &:focus {
        outline: none;
      }
      &-select {
        width: 100%;
        background: none;
        border: 1px solid #b7b7b7;
        font-size: 16px;
        padding: 15px 0 15px 16px;
        margin-top: 8px;
        border-radius: 5px;
        appearance: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:active {
          cursor: pointer;
        }
      }
    }
    &-custom-appearance {
      position: absolute;
      top: 25px;
      right: 28px;
      z-index: -1;
    }
  }
  .css-1wa3eu0-placeholder {
    font-size: 16px;
    color: #000;
    font-family: $sourceSansPro-Regular;
  }
}

.d-none {
  display: none;
}

.select-field {
  padding-top: 12px;
  .additional-input {
    position: absolute;
    height: 0;
    opacity: 0;
  }
}


.upload-item {
  &-box {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 0;
    position: relative;

    &__field {
      display: none;
    }
  }
  &__info {
    font-size: 12px;
    padding: 4px 45px 0 17px;
    letter-spacing: .1px;
    color: #8d8c8c;
    line-height: 16px;
  }
}

.submit-registration {
  background: #d7d7d7;
  width: 100%;
  height: 40px;
  color: #8d8c8c;
  font-size: 20px;
  font-family: $sourceSansPro-Bold;
  border: none;
  border-radius: 5px;
  margin-top: 10px;

}

.label-text-filed {
  border: 1px solid #b7b7b7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: calc(100% - 55px);
  border-right: none;
  margin: 0;
  padding: 14px 0 0 16px;
  color: #8d8c8c;
  cursor: pointer;
}

.label-icon-photo {
  display: block;
  line-height: 49px;
  width: 55px;
  height: 55px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid $primaryColor;
  text-align: center;
  margin: 0;
  cursor: pointer;
  span {
    display: none;
  }
}

.valid-error {
  font-size: 12px;
  color: red;
  margin: 0;
  position: absolute;
  top: 65px;
  left: 15px;
}

.image-error {
  top: 84px;
  left: 16px;
}

@media screen and(min-width: 768px){
  .upload-item {
    padding-top: 12px;
    &-box {
      margin: 0;
    }
  }
  .label-icon-photo {
    width: 178px;
    img {
      display: none;
    }
    span {
      display: inline-block;
      font-size: 20px;
      color: $primaryColor;
      font-family: $sourceSansPro-Bold;
    }
  }
  .registration-headline {
    margin-bottom: 21px;
  }
  .submit-registration {
    margin-top: 9px;
  }
  .registration-sub-headline {
    line-height: 22px;
  }
  .registration {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 120px;
    &-form {
      padding-top: 30px;
      &__item-field-select {
        margin-top: 12px;
      }
      &__item-custom-appearance {
        top: 29px;
      }
    }
  }
}

@media screen and(min-width: 1024px){
  .registration {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 142px;
    &-form {
      padding-top: 38px;
      &__item-custom-appearance {
        right: 35px;
        top: 31px;
      }
    }
    &-headline {
      margin-bottom: 14px;
    }
  }
  .submit-registration {
    margin-top: 24px;
  }
  .label-icon-photo {
    width: 162px;
  }
}

@media screen and(min-width: 1200px){
  .registration {
    padding-bottom: 152px;
  }
  .registration-form .submit-registration-wrapper {
    padding: 0
  }
  .registration-form__item-custom-appearance {
    right: 28px;
    top: 29px;
  }
}

.field-err {
  border-color: red;
}

.active-field {
  border: 2px solid #B7B7B7;
}

.field-err .registration-form__item-name {
  color: red;
}
